@import "/home/nipe/.config/waybar/colors.css";

@define-color text            @on_surface;
@define-color background-alt  alpha(@color1, .4);
@define-color selected        @outline;
@define-color hover           alpha(@selected, 1);
@define-color urgent          @error;


* {
  color:            @secondary;

  all: unset;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font Propo", "Maple Mono NF CN";
  transition: 200ms;

}

/* Avoid 'annoying' backgroud */
.blank-window {  
  background: transparent;  
}
  
/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background-color: rgba(0,0,0,0.4);/*alpha(@background-alt, .5); rgba(0, 0, 0, 0.5);*/
  border-radius: 24px;
  /*border: 1px solid @selected; */
  box-shadow: 0 0 10px 0 rgba(0,0,0,.0);
  margin: 18px;
  padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: alpha(@hover, .50);; /*@on_secondary_fixed;*/
  /*border: 1px solid @hover; */
  color: @secondary;
  border-radius: 15px;
  margin: 6px 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: @urgent;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  padding: 6px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: alpha(@selected, .6);
  color: @secondary;
  border-radius: 12px;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: @selected;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 6px;
  color: @secondary;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @selected;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @selected;
}

progressbar,
progress,
trough {
  border-radius: 12px;
}

progressbar {
  background-color: rgba(255,255,255,.1);
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;

}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @text;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @secondary;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @secondary;
  margin: 4px; 
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}  

/* WIDGETS --------------------------------------------------------------------------- */

  /* Notification clear button */
.widget-title {
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  background: alpha(@hover, .50);
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @hover;
}

.widget-title button:active {
  background-color: @selected;
}

  /* Do not disturb */
.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: alpha(@hover, .50);
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: @hover;
}

.widget-dnd > switch:checked {
  background: @selected;
}

.widget-dnd > switch:checked:hover {
  background: @hover;
}

.widget-dnd > switch slider {
  background: @text;
  border-radius: 6px;
}

  /* Buttons menu */
.widget-buttons-grid {
  font-size: x-large;
  color: @secondary;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 12px;
  background: alpha(@hover, .50);
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 4px 10px;
  padding: 6px 30px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @hover;
}

  /* Music player */
.widget-mpris {
  background: alpha(@hover, .50); /*rgba(255,255,255,.1); */
  border-radius: 15px;
  margin: 6px;
  padding: 6px 6px; 
}

.mpris-overlay {
  background: rgba(0, 0, 0, 0.5);
  border-radius:15px;
}

.mpris-background {
  border-radius: 15px;
  filter:blur(6px);
}

/*
.widget-mpris-player {
  background: rgba(255,255,255,.1); /* old @background-alt; */ /*
  border-radius: 15px;
  color: @text;
  margin: 0 0px;
  padding: 10px 0 15px; 
}
*/
/* Control buttons for mpris widget */
.widget-mpris-player .image-button:hover {
  border-radius: 8px;
  background: @hover;
}

.widget-mpris-player button {
  padding: 5px;
  margin: 0 2.5px;
}
*/
.widget-mpris-player .mpris-overlay > box:last-child {
  border-radius: 15px;
  padding: 0 5px;
  background:alpha(@hover, .0); 
}

.widget-mpris-album-art {
  border-radius: 8px;
  margin: 6px 4px;
}

.widget-mpris-title,
.widget-mpris-subtitle {
  font-family: "JetBrainsMono Nerd Font Propo", "Maple Mono NF CN";
  font-weight: 700;
  margin: 0 3px;
} 

.widget-mpris-title {
  font-size: 1rem;
}
 
.widget-mpris-subtitle {
  font-size: 0.8rem;
  color: @text-alt;
}

/* Volume */
.widget-volume {
  background: @background-sec;
  color: @background;
  padding: 4px;
  margin: 6px;
  border-radius: 6px;
}

