 /*        _                         _   
 __      _| | ___   __ _  ___  _   _| |_ 
 \ \ /\ / / |/ _ \ / _` |/ _ \| | | | __|
  \ V  V /| | (_) | (_| | (_) | |_| | |_ 
   \_/\_/ |_|\___/ \__, |\___/ \__,_|\__|
                   |___/                 */

@import '../../.config/waybar/colors.css';

* {
    background-image: none;
    font-size: 20px;
    font-family: "JetBrains Mono NFM";
}

window {
    background-color:rgba(0, 0, 0, 0.16); /* rgba(17, 17, 17, 0.45) */
}

button {
    border-radius: 20px;
    margin: 10px;
    color: @inverse_surface;
    border-color: @inverse_surface;
    background-color: rgba(0, 0, 0, 0.5);
    outline-style: none;
    border-style: solid;
	border-width: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:hover { /* button:focus */ /* focuses first item but cannot use arrow keys */
    background-color: @on_secondary_fixed_variant;
    background-size: 30%;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em; /* Increase the font size */
}


/* images */
#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout3.png"));
}

#suspend {
    background-image: image(url("./icons/suspend3.png"));
}

#shutdown {
    background-image: image(url("./icons/power4.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}

#Sleep {
    background-image: image(url("./icons/sleep3.png"));
}

