/*_____      ____ _ _   _ _ __   ___    ___ ___ ___ 
 / __\ \ /\ / / _` | | | | '_ \ / __|  / __/ __/ __|
 \__ \\ V  V / (_| | |_| | | | | (__  | (__\__ \__ \
 |___/ \_/\_/ \__,_|\__, |_| |_|\___|  \___|___/___/
                    |___/                           

originally created by https://github.com/JaKooLit */

@import '../../.config/waybar/colors.css';
@import 'themes/control_center.css';
@import 'themes/notifications.css';
